# GitHub OAuth Configuration
# Get these from: https://github.com/settings/developers
GITHUB_CLIENT_ID=your_github_client_id_here
GITHUB_CLIENT_SECRET=your_github_client_secret_here
# Can be same as GITHUB_CLIENT_ID
NEXT_PUBLIC_GITHUB_CLIENT_ID=your_github_client_id_here

# MongoDB Connection
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/database-name?appName=AppName

# App URL
NEXT_PUBLIC_APP_URL=http://localhost:3000
# Required for production (e.g. https://your-app.vercel.app)
BETTER_AUTH_URL=http://localhost:3000

# Better Auth Secret (Generate with `openssl rand -base64 32`)
BETTER_AUTH_SECRET=your_secret_here
